nav{
    background-color: black;
    overflow: auto;
}
#logo{
    color: wheat;
    font-size: 2.5em;
    float: left;
    margin-left:5% ;
}
ul, li{
    list-style: none;
}
ul{
    float: right;
    margin-right: 13%;
}
li{
    float: left;
}
nav a {
    text-decoration: none;
    padding: 5px;
    color:peachpuff;
}
nav a:hover{
    color: white;
}